/* common styles */
:root {
  --bg-color: #1A2F38;
  --surface-color: #203B46;
  --font-color: #070D21;
  --primary-color: #e9c46a;
  --secondary-color: #f4a261;
  --links-color: #2a9d4f;
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column; /* problematic line */
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  color: white;
}

ul {
  list-style-type: none; /* get rid of bullet points on side of list items */
}

a {
  color: var(--links-color);
}

/* common style ends */

/* container */
.container {
  width: 60vw;
  margin:2vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px 30px 20px;
  background-color: var(--surface-color);
  border-radius: 5px;
}


h1 {
  color: var(--primary-color);
  /* text-shadow: 2px 2px #E57010; */
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
  border-color: var(--bg-color);
  font-size: 3rem;
  padding-top:30px;
}

/* todo-form */

.todo-form {
  margin: 40px 0px 40px 0px;
}
.todo-input {
  width: 25vw;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

.add-button {
  background-color: var(--primary-color);
  color: var(--bg-color);
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

/* todo-form style ends */

#filter-buttons {
  padding-bottom: 15px;
}

#filter-buttons button {
  background-color: var(--primary-color);
  color: var(--bg-color);
  border: 1px solid var(--bg-color);
  outline: none;
  padding: 4px 8px 4px 8px;
  font-size: 0.8rem;
  float: left;
}

#filter-buttons button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}


#filter-buttons button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#filter-buttons button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}



.add-button:hover, #filter-buttons button:hover{
  background-color: var(--secondary-color);
}

.delete-button:hover {
  color: var(--secondary-color);
  font-weight: bold;
}

/* todo-items */
.todo-items {
  min-width: 350px;
}

/* each li with class="item" */
.item {
  background-color: #fff;
  padding: 10px;
  font-size: 1rem;
  border: 1pt solid var(--surface-color);
}


.item:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.item:last-child {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

/* item style end */

.checkbox {
  margin-right: 10px;
}


.delete-button {
  float: right;
  color: var(--accent-color);
  background-color: transparent;
  font-weight: bold;
  border: none;
  border-radius: 100%;
  padding: 2px 5px;
  margin-left: 10px;
}

/* applied when the todo item is checked */
.checked { 
  color: white;
  background-color: var(--links-color);
}

/* todo-items style ends */

/* container style ends */

@media (max-width: 740px) {
  .container {
    width: 80vw;
    margin-top: 4vh;
  }

  .todo-items {
    min-width: 0%;
    width: 70vw;
  }

  .todo-input {
    width: 50vw;
  }

  h1 {
    font-size: 2rem;
  }
}



/* Menu styling */
.menuToggle {
  display: inline-block;
  align-self: flex-end;
  cursor: pointer;
  padding-top: 10px;
}

#menu {
  padding: 10px;
}

.menu-row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--secondary-color);
  border-radius: 5px;
}

#menu h2 {
  color: var(--primary-color);
  text-align: center;
  padding-bottom: 10px;
}

.menu-row p {
  padding-right: 10px;
}

.menu-row input {
  margin-left: 10px;
}

.menu-row label {
  margin-left: 5px;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  background-color: var(--primary-color);
  margin: 4px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-2px, 2px);
  transform: rotate(-45deg) translate(-2px, 2px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}