/* common styles */
:root {
  --bg-color: #1A2F38;
  --surface-color: #203B46;
  --font-color: #070D21;
  --primary-color: #e9c46a;
  --secondary-color: #f4a261;
  --links-color: #2a9d4f;
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column; /* problematic line */
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

footer {
  color: var(--primary-color);
}

ul {
  list-style-type: none; /* get rid of bullet points on side of list items */
}

/* common style ends */

/* container */
.container {
  width: 60vw;
  margin:2vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px 30px 20px;
  background-color: var(--surface-color);
  border-radius: 5px;
}


h1 {
  color: var(--primary-color);
  font-size: 3rem;
}

/* todo-form */

.todo-form {
  margin: 40px 0px 40px 0px;
}

.todo-input {
  width: 25vw;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  font-size: 1rem;
}

.add-button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 7px;
  font-size: 1rem;
}

/* todo-form style ends */

#filter-buttons {
  padding: 10px 0px 10px 0px;
}

#filter-buttons button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 4px;
  font-size: 0.7rem;
}

button:hover, #filter-buttons button:hover{
  background-color: var(--secondary-color);
}

/* todo-items */
.todo-items {
  min-width: 350px;
}

/* each li with class="item" */
.item {
  background-color: #fff;
  padding: 10px;
  font-size: 1rem;
}

.item:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.item:last-child {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
} 

/* .item {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-bottom: 5px;
} */

/* item style end */

.checkbox {
  margin-right: 10px;
}


.delete-button {
  float: right;
  color: var(--accent-color);
  background-color: transparent;
  font-weight: bold;
  border: none;
  border-radius: 100%;
  padding: 2px 5px;
  margin-left: 10px;
}

/* applied when the todo item is checked */
.checked { 
  color: white;
  background-color: var(--links-color);
}

/* todo-items style ends */

/* container style ends */

@media (max-width: 740px) {
  .container {
    width: 80vw;
    margin-top: 4vh;
  }

  .todo-items {
    min-width: 0%;
    width: 70vw;
  }

  .todo-input {
    width: 50vw;
  }

  h1 {
    font-size: 2rem;
  }
}